<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Carbon footprint calculator</h1>
    <h2>Complete the form for your daily carbon footprint</h2>
    <form action="." method="POST">
	<b>Main method of transport</b>:
	<select name="transport">
		<option value="auto">Car</option>
		<option value="bus">Bus</option>
		<option value="subway">Subway</option>
		<option value="self">Walk/bike</option>
	</select>
	<br />
        <b>Commute distance</b> (km):
	<input type="number" name="commute" step=".1">
	<br />
        <b>Diet type</b>: 
	<select name="diet">
		<option value="meat">Meat eater</option>
		<option value="white">White meat eater</option>
		<option value="vegetarian">Vegetarian</option>
		<option value="vegan">Vegan</option>
	</select>
        <br />
	<b>Annual number of return flights (.5 for one-ways)</b>:
	<input type="number" name="flightfrequency" step=".5">
	<br />
	<b>Most common flight distance</b>:
	<select name="flights">
		<option value="shorthaul">Short haul (e.g., London-Paris)</option>
		<option value="mediumhaul">Medium haul (e.g., London-Cairo)</option>
		<option value="longhaul">Long haul (e.g., London-Delhi, or London-New York)</option>
	</select>
	<br />
	<input type="submit" name="my-form" value="Send">
    </form>
</body>
</html>
